html{
  font-family: Helvetica;
  font-size: 18px;
}


.topbar{
  display: flex;
  width: 1050px;
  height: 90px;
  background-color: black;
}
.logo{
border: 1px dotted white;
}
.logotext{
  width: 600px;
  height: 90px;
  color: white;
  border: 1px dotted white;
}

.jumbotron{ /*The header of the website ends here*/
  display: flex;
  flex-direction: row;
  width: 1050px;
  height: 600px;
  border: 1px dotted black;
  background-image: url(../images/moto.jpeg);
}
.motoblack{
  display: flex;
  width: 600px;
  height: 300px;
  border: 1px dotted black;
  margin-left: 150px;
  margin-top: 250px;
  background-color: black;
}
.motonewarrival{
  width: 100%;
  height: 150px;
  border: 1px dotted white;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
.sportsbike{ /*The jumbotron of the website starts here*/
  width: 100%;
  height: 150px;
  border: 1px dotted white;
  color: white;
  margin-top: 115px;/**/
}
.redmenu{/*The red menu/nav bar of the website starts here*/
  display: flex;
  width: 1050px;
  height: 60px;
  color: white;
  background-color: firebrick;
  word-spacing: 100px;
}
.whitebox{ /*The white box with 3 boxes starts here*/
  display: flex;
  width: 1050px;
  height: 500px;
  border: 1px dotted black;
}
.blackbox{ /*The footer starts here*/
  display: flex;
  width: 1050px;
  height: 5rem;
  border: 1px dotted black;
  background-color: black;
}
