html{
  font-family: Helvetica;
  font-size: 18px;
  width: 100%;
}


.topbar{
  display: flex;
  width: 1040px;
  height: 2.7rem;
  background-color: black;
}
.logo{
  height: 2rem;
  padding-right: 1rem;
  padding-left: 8rem;
  margin-top: .66rem;
  margin-bottom: .66rem;
}
.logotext{
  width: 600px;
  height: 2rem;
  margin-top: .66rem;
  margin-bottom: .66rem;
  color: white;
}
/************************************************************/
.jumbotron{ /*The header of the website ends here*/
  display: flex;
  flex-direction: row;
  width: 1040px;
  height: 25rem;
  background-image: url(../images/moto.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.motoblack{
  display: flex;
  width: 20rem;
  height: 10rem;
  margin-left: 150px;
  margin-top: 9rem;
  background-color: black;
}
.motonewarrival{
  width: 100%;
  height: 5rem;
  padding-top: 2rem;
  padding-left: 3rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
.sportsbike{
  width: 100%;
  height: 5rem;
  padding-top: .75rem;
  font-size: 1.5rem;
  color: white;
}
/************************************************************/
nav{/*The red menu/nav bar of the website starts here*/
  display: flex;
  width: 1040px;
  height: 60px;
  color: white;
  background-color: firebrick;
  justify-content: space-around;
}
nav li {/*The red menu/nav bar of the website starts here*/
  display: inline;
  color: white;
  background-color: firebrick;
  margin-top: 1rem;
  text-align: center;
  list-style-type: none;

}

/************************************************************/
.whitebox{ /*The white box with 3 boxes starts here*/
  display: flex;
  width: 1040px;
  height: 20.5rem;
}
.threebox{ /**/
  display: flex;
  width: 1040px;
  height: 300px;
  margin-top: 50px;
  justify-content:space-around;
}
/************************************************************/
.box{ /*black box*/
  width: 25%;
  height: 14.5rem;
  border: 3px solid black;
  background-color: black;
  color: white;
}

.boxwhite{ /*white box*/
  width: 100%;
  height: 12rem;
  background-color: white;
  color: white;
}

.box img { /**/
  width: 9rem;
  height: 9rem;
  margin-top: 1.5rem;
  margin-left: 75px;
  background-color: white;
  color: white;
}
.box p { /**/
  color: white;
  margin-top: 38px;
  margin-left: 95px;
/************************************************************/
}
.locationhours{ /* Location and Hours box benith */
  display: flex;
  width: 1040px;
  height: 3.3rem;
}
.lhcontainer{
  width: 600px;
  height: 60px;
}
.lhbox{   /*black box with location */
  width: 68%;
  height: 60px;
  background-color: black;
  color: white;
  margin-left: 42px;
}

.lhbox2{ /*black box with hours*/
  width: 68%;
  height: 60px;
  background-color: black;
  color: white;
  margin-left: 148px;
}
.lhcontainerbottom{
  display: flex;
  width: 1040px;
  height: 4rem;
}
.lhboxbottom{
  width: 35%;
  margin-left: 43px;
}
.lhboxbottom2{
  width: 35%;
  margin-left: 285px;
}
/************************************************************/
.blackbox{ /*The footer starts here*/
  display: flex;
  width: 100%;
  height: 5rem;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 100px;
  padding-left: 155px;
  border: 2px solid red;
}


/* MEDIA QQQ */
/*@media only screen and (min-width: 1040px){

.mobile-navcontainer {
  display:none;
  }
*/
@media only screen and (min-width: 470px) and (max-width: 1040px){ /*this is the size of an ipad*/

  nav p{
    display: none; /*i hate you so much red menu */
  }

.whitebox{ /*The white box with 3 boxes starts here*/
    display: flex;
    width: 1040px;
    height: 35rem;
  }

.blackbox {
  width: 1040px;
}

}
@media only screen and (max-width: 470px){ /*this is the size of an iphone*/
/*topnav*/
.topbar{
    display: flex;
    width: 470px;
    height: 2.7rem;
    background-color: blue;
}
/*topnav text*/
.logo{
}
.logotext{
  width: 600px;
  height: 2rem;
  color: white;
}
/*jumbotron*/
.jumbotron{
  width: 470px;
}
.motoblack{
  height: 5rem;
  width: 470px;
  margin-left: 0px
}
.motonewarrival{
font-size: 1rem;
}
.sportsbike{
font-size: 1rem;
}
/*red nav bar*/
nav {
width: 470px;
}
nav li {
display:none;
}
nav p{
  align-items: center; /*i hate you so much red menu */
}
.mobile-navcontainer {
  }
  /* white item box with 3 items in it*/
.whitebox{ /*The white box with 3 boxes starts here*/
display: flex;
width: 470px;
height: 20rem;
border: 1px dotted black;
}
.box{ /*black box*/
  width: 51%;
  height: 14.5rem;
  border: 3px solid black;
  background-color: black;
  color: white;
}
}
#cellw{
display: none;
}

#ipadglasses {
display: none;
}
.locationhours{ /* Location and hours of the shop*/
justify-content: flex-start;
width: 470px;
height: 250px;
display: block;
}
.lhcontainer{
  margin-left: 0px;
}
  /*footer footer footer footer footer*/
.blackbox {
    width: 470px;
}
}
